# Zenmoney browser runtime
zp_*.json
zp_pipe.txt

# network traces and other development stuff, not intended for public use
/src/plugins/**/temp

# JetBrains
/.idea/workspace.xml
/.idea/deployment.xml
/.idea/watcherTasks.xml
/.idea/jscsPlugin.xml
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
/.idea/dictionaries

# Eclipse project files
/.classpath
/.project

/nbproject/

# VSCode project files
/.vscode
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/plugins/v16/.suo

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.*.sw?
/report.*.json

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
/npm-debug.log
/yarn-debug.log
/yarn-error.log
/.yarnrc
/.yarn/
