/*.npmignore
/.cache/
/.npm/

# ZenPlugin debugger files
zp_data.txt
zp_pipe.txt
zp_preferences.json

# JetBrains IDE files
*.iml
.idea

# Eclipse project files
.classpath
.project

nbproject/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
